.baner-container {
    background: #d4cccc5e;
    margin-top: 0%;
    border-radius: 20px;
}

.profile-image-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 1.5rem;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-nombre {
    font-weight: 700;
}

.verificar-badge {
    font-size: 0.85rem;
}

.services {
    font-size: 0.95rem;
    color: #555;
}

.nav-opciones {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.nav-btn {
    flex: 1;
    padding: 12px 0;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s;
    border-radius: 10px;
}

.nav-btn:hover {
    background: #f5f5f5;
}

.nav-btn:active {
    background: #e1e1e1;
}

.btnM{
    background: #334597;
    margin-top: 22px;
    padding: 12px 22px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.btnM:hover {
    background: #3f85d4;      /* cambia → activa la animación */
    transform: scale(1.05);   /* anima porque cambia */
}

.btnFav{
    background: #9e0a0a;
    margin-top: 22px;
    padding: 12px 22px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: 0.7s ease;
}

.btnFav:hover {
    background: #c71a37;      /* cambia → activa la animación */
    transform: scale(1.05);   /* anima porque cambia */
}