/* Wrapper del slide */
.slide-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding: 20px;
}

/* Imagen */
.slide-img img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

/* Panel derecho */
.glass-card {
  backdrop-filter: blur(15px);
  background: rgba(91, 174, 199, 0.18); 
  border-radius: 18px;
  padding: 22px;
  border: 1px solid rgba(212, 71, 194, 0.35);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

/* Nombre */
.slide-info h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Rating */
.rating {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Botones de servicios */
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.service-badge {
  background: #00b3ff;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  cursor: default;
}


/* Responsive */
@media (max-width: 768px) {
  .slide-wrapper {
    flex-direction: column;
  }

  .slide-img img {
    width: 90%;
    height: auto;
  }

  .slide-info {
    width: 90%;
  }
}
